<div class="input-group">
    <input type="text" [attr.placeholder]="txtPlaceholder" [(ngModel)]="value">
    <input type="text" [attr.placeholder]="txtPlaceholder" [(ngModel)]="value">
    
    <span class="input-group-append">
        <button class="btn btn-danger input-group-text" (click)="onSubmit()">
        {{txtSubmit}}
        </button>
    
    </span>
</div>