<div class="input-group">
    <input type="text" class="form-control" [attr.placeholder]="txtPlaceholder" [(ngModel)]="value">
    <span class="input-group-append">
        <button class="btn btn-danger input-group-text" (click)="onSubmit()">
        {{txtSubmit}}
        </button>
    </span>
</div>