<div class="container">
    
    <!-- Header -->
    <div class="row">

        <div class="col-lg-12">
            <div>
                <img src="../assets/images/donsun-tech-logo.png" alt="Donsun Tech Logo" style="margin-left: 20px; padding: 20px 20px  10px  20px;">
            </div> 
        </div>

    </div>

    <!-- Navbar -->
    <div class="row">
    
        <div class="col-lg-12">
        
            <ul class="nav nav-tabs">
                <li [class.active]="activeTab == listTabTitle"><a (click)="activeTab = listTabTitle">List</a></li>
                <li [class.active]="activeTab == liveTabTitle"><a (click)="activeTab = liveTabTitle">Live</a></li>
            </ul>
        </div>
    </div>

    <!-- Nav Body -->
    <div class="row">
    
        <div class="col-lg-12">
        
            <div [ngSwitch]="activeTab">
        
                <div *ngSwitchCase="listTabTitle" class="tab-content">
        
                    <div class="row">
        
                        <div class="col-lg-6" *ngFor="let listConfig of listConfigs">
        
                            <app-addable-list   [requestType]="listConfig.requestType"
                                                [label]="listConfig.label"
                                                [items]="listConfig.items"
                                                [placeholder]="listConfig.placeholder"
                                                [linkedDcuMap]="linkedDcuMap"
                                                (selectedItemChanged)="onSelectedItemChanged($event)"
                                                (itemAddEvent)="onRequest($event)">
                            </app-addable-list>
                        
                        </div>
        
                    </div>
        
        
                    <div class="row">
        
                        <div class="col-lg-12">
        
                                <div class="input-group" [ngClass]="{ 'has-success':tokenSendSuccess, 'has-feedback':tokenSendSuccess }">
                                    <input  type="text"
                                            class="form-control"
                                            [placeholder]="'Enter Token'"
                                            [(ngModel)]="token">
                                
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary input-group-text"
                                                [class.disabled]="!isTokenSendable()"
                                                (click)="sendToken()">
                                            Send
                                        </button>
                                    </div>

                                    <span *ngIf="tokenSendSuccess" class="glyphicon glyphicon-ok form-control-feedback" style="margin-right: 60px;"></span>

                                </div>
        
                        </div>
        
                        <div class="col-lg-6">
                            <div>
                                <button class="btn btn-primary btn-block"
                                        style="margin-top: 20px;"
                                        [class.disabled]="!isLinkable()"
                                        (click)="link()">
                                    Link Meter and DCU
                                </button>
                            </div>
                        </div>
        
                        <div class="col-lg-6">
                            <div>
                                <button class="btn btn-danger btn-block"
                                        style="margin-top: 20px;"
                                        [class.disabled]="!isUnlinkable()"
                                        (click)="unlink()">
                                    Unlink Meter and DCU
                                </button>
                            </div>
                        </div>
        
                    </div>
        
                </div>
                
                <div *ngSwitchCase="liveTabTitle" class="tab-content">
                    <app-live-tab></app-live-tab>
                </div>
        
            </div>
        
        
        </div>
    
    </div>

    <!-- Footer -->
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 20px;"></div>
    </div>

</div>
