<div class="panel panel-default">
    <div class="panel-body">
        
        <!-- Input Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    
                    <input #inputMeterId type="text" class= "form-control" placeholder="Enter Meter ID">

                    <div class="input-group-btn">
                        <button class="btn btn-primary" (click)="requestData(inputMeterId.value)">Request</button>
                    </div>

                </div>
            </div>
        </div>


        <div class="panel panel-default" style="margin: 40px 0px; border-style: none;">
            <div class="panel-heading" style="font-weight: bolder; font-size:150%; border-bottom: 1px solid darkgrey; border-radius: 2px; background-color: white;">Meter Readings</div>
            <div class="panel-body" style="margin-top: 10px;">

                <!-- Data Row -->
                <div class="row" *ngFor="let meterId of keys">
                    <div class="col-lg-12">
        
                        <div class="panel panel-default">
                            <div class="panel-heading" style="font-weight: bold; padding: 5px;">{{meterId}}</div>
                            <div class="panel-body" style="padding: 1px;">
        
                                <!-- Type 1 -->
                                <!-- <table class="table">
            
                                    <tr>
                                        <th>Reading Type</th>
                                        <th>Value</th>
                                    </tr>
            
                                    <tr *ngFor="let type of types">
                                        <td style="text-transform: capitalize;">{{type}}</td>
                                        <td>{{data[type]}}</td>
                                    </tr>
            
                                </table> -->
            
                                <!-- Type 2 -->
                                <table class="table table-bordered" style="margin: 0px 0px;">
            
                                    <tr>
                                        <th *ngFor="let type of types" style="text-transform: capitalize; text-align: center;  background-color: lightseagreen;">{{type}}</th>
                                    </tr>
            
                                    <tr>
                                        <td *ngFor="let type of types" style="text-align: center;">{{meters[meterId][type]}}</td>
                                    </tr>
            
                                </table>
        
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>




    </div>
</div>