<div class="panel panel-default">

  <div class="panel-heading">{{label}}</div>
  
  <div class="panel-body">
    
    <ul class="list-group">
      <li class="list-group-item"
          style="margin-bottom: 5px"
          [class.active]="item == selectedItem"
          (click)="onSelectedItemChanged(item)"
          *ngFor="let item of items">
          {{item}}
          <span class="glyphicon glyphicon-link pull-right badge" style="padding:5px;" *ngIf="isLinked(item)">{{linkedDcuMap[item]}}</span>
      </li>
    </ul>

    <button class="btn btn-danger pull-right"
            id="btn-remove-all"
            (click)="onRemoveAll()">Remove All</button>

    </div>
  
  
    <div class="input-group" id="input-add">
      <input  type="text"
              class="form-control"
              [placeholder]="placeholder"
              [(ngModel)]="input">
  
      <div class="input-group-btn">
          <button class="btn btn-primary input-group-text"
                  (click)="onAdd()">
            Add
          </button>
        </div>
    </div>

  </div>