.panel-heading
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
}


#btn-remove-all
{
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0%;
}

#input-add
{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.list-group
{
    padding: 10px;
}